body{
  margin: 0;
}

*{
  transition:all 0.3s ease-in-out;
}

/*********Navbar***********/

.logo{
  background-image: linear-gradient(to bottom right, #434343, #000000);
  text-align: center;
  font-family: Audiowide;
  color: white;
  padding: 1px;
}

.logo h1{
  font-size: 60px;
}

.logo h1 span{
  color:  lightseagreen;
}

nav{
  width: 100%;
   background-image: linear-gradient(to bottom right, #434343, #000000);
}

nav ul{
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

nav ul li{
  display: inline-block;
  padding: 17px;
}

nav ul li:hover{
  background-image: linear-gradient(to bottom right, #09C6F9, #045DE9);
}

nav ul li a{
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: white;
  text-decoration: none;
}

.toggle{
  width: 100%;
  padding: 10px 20px;
  background-image: linear-gradient(to bottom right, #434343, #000000);
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none;
}

/*********Below Navbar***********/

.below-navbar{
  height: 350px;
  background-image: url("img/co2.jpg");
  background-attachment: fixed; 
  background-size: cover;
  padding: 20px;
  text-align: center;
}

.co-pic{
  margin-top: 120px;
  font-family: Audiowide;
  color: white;
}
.co-pic h1{
   font-family: Audiowide;
   font-size: 65px;
}


/*********Body********/

.content-body{
  margin: 40px 180px 70px 180px;
  text-align: justify;
}

.content-body h2{
  text-align: center;
}

.our-journey p{
font-family: Roboto;
}

.our-warhouses p{
  font-family: Roboto;
}

.our-journey h2{
  font-family: Raleway;
  font-size: 35px;
  background: -webkit-linear-gradient(#434343, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.our-journey h2 strong{
  font-size: 35px;
  font-family: Raleway;
  background: -webkit-linear-gradient(#04619F, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.our-warhouses h2{
 font-family: Raleway;
  font-size: 35px;
  background: -webkit-linear-gradient(#434343, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.our-warhouses h2 strong{
  font-size: 35px;
  font-family: Raleway;
  background: -webkit-linear-gradient(#04619F, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.our-partners h2{
  font-family: Raleway;
  font-size: 35px;
  background: -webkit-linear-gradient(#434343, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.our-partners h2 strong{
  font-size: 35px;
  font-family: Raleway;
  background: -webkit-linear-gradient(#04619F, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.our-partners-logo{
  text-align: center;
}

.our-partners-logo img{
  margin: 0 46.2px 0 46.2px;
}

/*********Footer***********/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

.footer-distributed{
  background-image: linear-gradient(to bottom right, #434343, #000000);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px Audiowide, cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  white;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 768px) {

.navbar{
  display: block;
    width: 100%;
    height: 10%;
    text-align: center;
}

.logo{
  margin: auto;  
  font-family: Audiowide;
  color: white;
}

.logo h1{
  font-family: Audiowide;
  font-size: 60px;
}

.logo h1 span{
  color:  lightseagreen;
}

.toggle
  {
    display: block;
  }

  nav ul{
    width: 100%;
    display: none;
  }

  nav ul li
  {
    display: block;
    text-align: center;
    padding: 10px 20px;
  }
  .active{
    display: block;
  }

.below-navbar{
  background-image: url("img/co2.jpg");
  background-size: cover;
  text-align: center;
}

.co-pic{
  margin-top: 47px;
  font-family: Audiowide;
  color: white;
}
.co-pic h1{
   font-family: Audiowide;
   font-size: 65px;
}

.content-body{
 
  margin: 30px 30px 65px 30px;
  text-align: justify;
}

.our-partners-logo img{
  margin: 25px 46.2px 25px 46.2px;
}

  .footer-distributed{
    font: bold 14px sans-serif;
    height: 20%;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}





